{% extends "base.html" %}
{% block content %}
<h2>Tasks List</h2>

<table class="table table-bordered table-striped table-hover w-100 table-sm">
    <thead class="table-dark">
        <tr>
            <th>Project</th>
            <th>Title</th>
            <th>Description</th>
            <th>Due Date</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>        
        {% for task in tasks %}
            {% if task.status != "completed" and task.due_date < today %}
                <tr style="background-color: rgb(161, 72, 72);">
            {% else %}
                <tr>
            {% endif %}
                    <td>{{ task.project }}</td>
                    <td>
                        <a href="{% url 'task_detail' task.id %}">{{ task.title }}</a>
                    </td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.due_date }}</td>
                    <td>
                        {% if task.status == 'pending' %}
                            <span style="color: rgb(0, 191, 255);">Pending</span>
                        {% elif task.status == 'in_progress' %}
                            <span style="color: blue;">In Progress</span>
                        {% elif task.status == 'on_hold' %}
                            <span style="color: orangered;">On Hold</span>
                        {% elif task.status == 'review' %}
                            <span style="color: yellow">In Review</span>
                        {% elif task.status == 'canceled' %}
                            <span style="color: red;">Canceled</span>                
                        {% elif task.status == 'completed' %}
                            <span style="color: green;">Completed</span>
                        {% else %}
                            {{ task.status }}
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr><td colspan="5">No projects found.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}