{% extends "base.html" %}
{% block content %}
<h1>Project: <br>{{ project.name }}</h1>

<p><strong>Description:</strong> {{ project.description }}</p>



<table class="table table-bordered table-striped table-hover w-100 table-sm">
    <thead class="table-dark">
        <tr>            
            <th>Start Date</th>
            <th>End Date</th>            
            <th>Created by</th>
            <th>Number of tasks</th>            
            <th>Status</th>
        </tr>
    </thead>
    <tbody>        
        <tr>            
            <td>{{ project.start_date }}</td>
            <td>{{ project.end_date|default:"-" }}</td>
            <td>{{ project.assigned_to }}</td>
            <td>{{ project.tasks.count }}</td>
            <td>
                {% if project.status == 'planned' %}
                    <span style="color: gray;">Planned</span>
                {% elif project.status == 'in_progress' %}
                    <span style="color: blue;">In Progress</span>
                {% elif project.status == 'completed' %}
                    <span style="color: green;">Completed</span>
                {% else %}
                    {{ project.status }}
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>

        <div class="card-footer" style="background-color: #94b3d393;">
            <a href="{% url 'edit_project' project.id %}" class="btn btn-primary btn-sm">Edit project details</a>

        
        <!-- Tlačítko Delete project -->
        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal">
            Delete project
        </button>

        <!-- Modal 1: Confirm delete -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirm Delete</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        Do you really want to delete the project "{{ project.name }}"?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <!-- After confirm will close this modal and open the next one -->
                        <form method="post" action="{% url 'delete_project' project.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form> 
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Back button -->
        <a href="{% url 'project_search' %}" class="btn btn-secondary btn-sm">← Back</a>

{% endblock %}