@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins/Poppins-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins/Poppins-ExtraBold.ttf);
    font-weight: bold;
}

/* Reset */
body {
    box-sizing: border-box;
    margin: 0;
    font-family: Poppins, Helvetica, sans-serif; 
    background: #fafafa;       
}

nav {
    flex: content;
    height: 100px;     
    background: #444444;    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; 
    
}
nav a {
    color: white;
    text-decoration: none;
    padding: 0px 20px;
    font-size: 18px;    
    text-decoration: none;    
}

.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-wrap: nowrap;    
    min-width: 500px;
}

.navbar li {
    position: relative;
}

.navbar a {
    text-decoration: none;
    padding: 8px 12px;
    display: block;
    color: goldenrod;
    
}

#nav-B {
    gap: 1.5rem;
    display: flex;
    margin-left: 30px;
    text-wrap: nowrap;
}

#nav-B svg {
    color: gold;
    vertical-align: middle;
}

.dropdown:hover .dropdown-menu {
    display: block;  
    background-color: whitesmoke;
    position: absolute;
    width: 210px;
}

.dropdown-menu li a {
    padding: 10px;
    color: goldenrod;
}

.dropdown-menu li a:hover {
    text-decoration: underline;
    text-transform: uppercase;
}




@media (max-width: 600px) {
    body {
        font-size: 14px;
    }


    
}